<% if user_signed_in? %>
<section class="body-section-home">
  <section class="user-info-section">
    <div class="picture">
      <% if current_user.avatar.url.present? %>
        <%= image_tag (current_user.avatar.url), :class => 'profile-img'  %>
      <% else %>
        <%= image_tag ('fallback/default-user.jpg'), :class => 'profile-img' %>
      <% end %>
    </div>
    <div class="info">
      <p class="user-name">@<%= current_user.username %></p>
      <p>
        <%= link_to "Go to my profile", profile_path_url, :class => 'edit-link' %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => 'logout-link') %>
      </p>
    </div>
  </section>
  <section class="create-section">
    <%= form_with(model: Tweet, local: true) do |f| %>
      <%= f.text_area :body, :class => 'create-tweet', :rows => 2, :length => 280, :required => true %>
      <div class="create-section-bottom">
        <div class="create-section-bottom-left">
          <p>Character count: <span>0</span>/280</p>
        </div>
        <div class="create-section-bottom-right">
          <%= f.submit 'Publish', :class => 'create-tweet-button' %>
        </div>
      </div>
    <% end %>
  </section>
  <section class="timeline-section">
    <% if @tweets.present? %>
      <% @tweets.reverse.each do |tweet| %>
          <p>
            <tr>
              <div class="tweet">
                <div class="tweet-top">
                  <div class="tweet-top-left">
                    <p>@<%= tweet.user.username %></p>
                  </div>
                  <div class="tweet-top-right">
                    <% if current_user.id == tweet.user.id %>
                      <%= link_to '🗑', tweet, method: 'delete', data: {confirm: "Are you sure you want to delete this tweet?"} %>
                    <% end %>
                </div>
              </div>
              <br>
              <hr>
              <div class="tweet-body">
                <p>
                  <td><%= tweet.body %></td>
                </p>
              </div>
              <hr>
              <p>
                <td><%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %></td>
              </p>
            </div>
          </tr>
        </p>
    <% end %>
  <% end %>
  </section>
  <section class="search-section">
    <section class="search-form-section">
      <%= form_tag "/users/index", method: "GET" do %>
        <%= text_field_tag :search, "", placeholder: "Search user", autocomplete: "off" %>
        <%= submit_tag 'Search', :class => 'search-button' %>
      <% end %>
    </section>
    <section class="results-section">
        <% @users.each do |user| %>
          <% if current_user.id != user.id %>
            <div class="user">
              <%= image_tag (user.avatar.url), :class => 'user-img'  %>
              <p class="username"><%= user.username %></p>
              <% if !current_user.users_following.include? user %>
                <%= button_to "Follow", follow_path, params: {id: user.id} %>
              <% else %>
                <%= button_to "unfollow", unfollow_path, params: {id: user.id}, method: :delete %>
              <% end %>
            </div>
          <% end %>
        <% end %>
    </section>
  </section>
</section>
<% else %>
You need to sign in!
<%= link_to "Sign up", register_path_url, class:"signup" %>
<%= link_to "Log in", login_path_url, class:"login" %>
<% end %>
