<% if user_signed_in? %>
  <section class="body-section-profile">
    <header class="header-section">

      <% if current_user.avatar.url.present? %>
        <%= image_tag (current_user.avatar.url), :class => 'profile-img'  %>
      <% else %>
        <%= image_tag ('fallback/default-user.jpg'), :class => 'profile-img' %>
      <% end %>

      <%= link_to "ðŸ“", edit_path_url, :class => 'edit-link' %>
    </header>
  <section class="profile-section">
    <% if user_signed_in? %>
      <div>
        <p class="user-info user-name">@<%= current_user.username %></p>
        <p class="user-info"><%= current_user.email %></p>
        <p class="user-info">
          <%= link_to "Followers: ", followers_path_url, :class => 'follow-link' %>
          <%= current_user.get_followers.count %>
        </p>
        <p class="user-info">
          <%= link_to "Following: ", following_path_url, :class => 'follow-link' %>
          <%= current_user.users_following.count %></p>
        <p>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => 'logout-link') %>
          <%= link_to('Delete account', registration_path(current_user), data: { confirm: "Are you sure you want to delete your account?" }, method: :delete, :class => 'delete-link') %>
        </p>
      </div>
    <% end %>
  </section>
  <section class="create-section">
    <%= form_with(model: Tweet, local: true) do |f| %>
    <%= f.text_area :body, :class => 'create-tweet', :rows => 2, :length => 280, :required => true %>
    <div class="create-section-bottom">
      <div class="create-section-bottom-left">
        <p>Character count: <span>0</span>/280</p>
      </div>
      <div class="create-section-bottom-right">
        <%= f.submit 'Publish', :class => 'create-tweet-button' %>
      </div>
    </div>
  <% end %>
</section>
<section class="all-section">
  <% if current_user.tweets.present? %>
    <% current_user.tweets.reverse.each do |tweet| %>
      <% if current_user.id == tweet.user_id %>
        <p>
          <tr>
            <div class="tweet">
              <div class="tweet-top">
                <div class="tweet-top-left">
                  <p>@<%= current_user.username %></p>
                </div>
                <div class="tweet-top-right">
                  <%= link_to 'ðŸ—‘', tweet, method: 'delete', data: {confirm: "Are you sure you want to delete this tweet?"} %>
              </div>
            </div>
            <br>
            <hr>
            <div class="tweet-body">
              <p>
                <td><%= tweet.body %></td>
              </p>
            </div>
            <hr>
            <p>
              <td><%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %></td>
            </p>
          </div>
        </tr>
      </p>
    <% end %>
  <% end %>
<% end %>
</section>
</section>
<% else %>
You need to sign in!
<%= link_to "Sign up", register_path_url, class:"signup" %>
<%= link_to "Log in", login_path_url, class:"login" %>
<% end %>
